
<form action="/posts/create" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label" >Title</label>
        <input name="title" type="text" placeholder="title.." class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Text</label>
        <input name="text" type="text" placeholder="text.." class="form-control"/>
    </div>
    <button type="submit" class="btn btn-dark" >Create</button>
</form>